<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<div style="width: 575px; height: 330px;">
    <canvas id="myChart"></canvas>
</div>

<script>
    const umbrellaSalesData = [15, 25, 17, 28, 41, 47, 50, 46, 37, 22, 20, 30];

    const labels = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

    const data = {
        labels: labels,
        datasets: [
            {
                label: 'Average Rainfall per Month (mm)',
                data: [82, 93, 84, 98, 132, 144, 166, 140, 127, 98, 86, 100],
                borderColor: 'rgb(66, 135, 245)',
                fill: false,
                backgroundColor: 'rgb(131, 174, 242)',
                tension: 0.1,
                hoverBorderColor: 'red'
            },
            {
                label: 'Umbrellas Sold',
                data: umbrellaSalesData,
                borderColor: 'rgb(135, 66, 245)',
                fill: false,
                backgroundColor: 'rgb(174, 131, 242)',
                tension: 0.1,
                hoverBorderColor: 'green'
            }
        ]
    };

    const config = {
        type: 'line',
        data: data,
        options: {
            plugins: {
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: 'Average Rainfall per Month vs. Umbrellas Sold'
                }
            }
        }
    }; 
    
    const ctx = document.getElementById('myChart').getContext('2d');
    new Chart(ctx, config);
</script>
